{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-md-6 col-lg-4 offset-lg-2">
            <div class="image-container my-5">
                {% if ec_product.image %}
                <a href="{{ ec_product.image.url }}" target="_blank">
                    <img class="card-img-top img-fluid" src="{{ ec_product.image.url }}" alt="{{ ec_product.name }}">
                </a>
                {% else %}
                <a href="">
                    <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ ec_product.name }}">
                </a>
                {% endif %}
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
            <div class="product-details-container mb-5 mt-md-5">
                <p class="mb-0">{{ ec_product.name }}</p>
                <p class="lead mb-0 text-left font-weight-bold">${{ ec_product.price }}</p>
                {% if ec_product.ec_category %}
                <p class="small mt-1 mb-0">
                    <a class="text-muted" href="{% url 'ec_products' %}?ec_category={{ ec_product.ec_category.name }}">
                        <i class="fas fa-tag mr-1"></i>{{ ec_product.ec_category.friendly_name }}
                    </a>
                </p>
                {% endif %}
                {% if ec_product.rating %}
                <small class="text-muted"><i class="fas fa-star mr-1"></i>{{ ec_product.rating }} / 5</small>
                {% else %}
                <small class="text-muted">No Rating</small>
                {% endif %}
                {% if request.user.is_superuser %}
                <small class="ml-3">
                    <a href="{% url 'edit_ec_product' ec_product.id %}">Edit</a> |
                    <a class="text-danger" href="{% url 'delete_ec_product' ec_product.id %}">Delete</a>
                </small>
                {% endif %}
                <p class="mt-3">{{ ec_product.description }}</p>




                <form class="form" action="{% url 'add_to_ec_bag' ec_product.id %}" method="POST">
                    {% csrf_token %}
                    <div class="form-row">
                        {% with ec_product.has_sizes as s %}
                        {% if s %}
                        <div class="col-12">
                            <p><strong>Size:</strong></p>
                            <select class="form-control rounded-0 w-50" name="ec_product_size" id='id_ec_product_size'>
                                <option value="xs">XS</option>
                                <option value="s">S</option>
                                <option value="m" selected>M</option>
                                <option value="l">L</option>
                                <option value="xl">XL</option>
                            </select>
                        </div>
                        {% endif %}
                        <div class="col-12">
                            <p class="mt-3"><strong>Quantity:</strong></p>
                            <div class="form-group w-50">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <button class="decrement-qty btn btn-black rounded-0"
                                            data-item_id="{{ ec_product.id }}" id="decrement-qty_{{ ec_product.id }}">
                                            <span class="icon">
                                                <i class="fas fa-minus"></i>
                                            </span>
                                        </button>
                                    </div>
                                    <input class="form-control qty_input" type="number" name="quantity" value="1"
                                        min="1" max="99" data-item_id="{{ ec_product.id }}"
                                        id="id_qty_{{ ec_product.id }}">
                                    <div class="input-group-append">
                                        <button class="increment-qty btn btn-black rounded-0"
                                            data-item_id="{{ ec_product.id }}" id="increment-qty_{{ ec_product.id }}">
                                            <span class="icon">
                                                <i class="fas fa-plus"></i>
                                            </span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-12">
                            <div class="col{% if s %}-12 mt-2{% endif %}">
                                <a href="{% url 'ec_products' %}" class="btn btn-outline-black rounded-0 mt-5">
                                    <span class="icon">
                                        <i class="fas fa-chevron-left"></i>
                                    </span>
                                    <span class="text-uppercase">Keep Shopping</span>
                                </a>
                                <input type="submit" class="btn btn-black rounded-0 text-uppercase mt-5"
                                    value="Add to ec_bag">
                            </div>
                            <input type="hidden" name="redirect_url" value="{{ request.path }}">
                            {% endwith %}
                        </div>
                </form>
            </div>
        </div>
    </div>
</div>




{% endblock %}
{% block postloadjs %}
{{ block.super }}
{% include 'ec_products/includes/quantity_input_script.html' %}




<!-- FAQs SECTION -->
<div class="row mt-5">
    <div class="col-12 col-lg-8 offset-lg-2">
        <h4>Frequently Asked Questions of {{ ec_product.name }}</h4>

        {% if faqs %}
        <div class="accordion mt-3" id="faqAccordion">
            {% for faq in faqs %}
            <div class="card">
                <div class="card-header" id="heading{{ forloop.counter }}">
                    <h2 class="mb-0">
                        <button class="btn btn-link btn-block text-left {% if not forloop.first %}collapsed{% endif %}"
                            type="button" data-toggle="collapse" data-target="#collapse{{ forloop.counter }}"
                            aria-expanded="{% if forloop.first %}true{% else %}false{% endif %}"
                            aria-controls="collapse{{ forloop.counter }}">
                            {{ faq.question }}
                        </button>
                    </h2>
                </div>
                <div id="collapse{{ forloop.counter }}" class="collapse {% if forloop.first %}show{% endif %}"
                    aria-labelledby="heading{{ forloop.counter }}" data-parent="#faqAccordion">
                    <div class="card-body">
                        {{ faq.answer }}



                        {% if request.user.is_superuser %}
                        <div class="mt-2">
                            <a href="{% url 'edit_product_faq' faq.id %}" class="btn btn-sm btn-outline-info">Edit</a>
                            <a href="{% url 'delete_product_faq' faq.id %}"
                                class="btn btn-sm btn-outline-danger">Delete</a>
                        </div>
                        {% endif %}


                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        {% else %}

        <p class="mt-3">No FAQs for this product yet.</p>
        {% endif %}

        {% if request.user.is_superuser %}
        <a href="{% url 'add_product_faq' ec_product.id %}" class="btn btn btn-primary mt-3">
            Add FAQ
        </a>
        {% endif %}
    </div>
</div>



<!-- REVIEWS SECTION -->
<div class="row mt-5">
    <div class="col-12 col-lg-8 offset-lg-2">
        <h4>Reviews</h4>

        {% if reviews %}
        <ul class="list-group mb-3">
            {% for review in reviews %}
            <li class="list-group-item">
                <strong>{{ review.user.username }}</strong>: {{ review.content }}
            </li>
            {% endfor %}
        </ul>
        {% else %}
        <p>No reviews yet for this product.</p>
        {% endif %}

        {% if user.is_authenticated %}
        {% if user_has_reviewed %}
        <p class="text-muted">You have already reviewed this product.</p>
        {% else %}

        <h5 class="mt-4">Leave a Review</h5>
        <form method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn btn-primary mt-2">Submit Review</button>
        </form>
        {% endif %}


        {% else %}
        <p><a href="{% url 'account_login' %}">Log in</a> to leave a review.</p>
        {% endif %}
    </div>
</div>


{% endblock %}