{% extends "base.html" %}



{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}




{% block content %}

<div class="container ">

    
    <div class="col-lg-6">
       <h2>Delete FAQ</h2>
        <p>Are you sure you want to delete the following FAQ?</p>

        <blockquote class="blockquote">
        <strong>{{ faq.question }}</strong><br>
        {{ faq.answer }}
        </blockquote>

        <form method="POST">
            {% csrf_token %}
   

  <button type="submit" class="btn btn-danger">Yes, delete</button>
            <a href="{% url 'ec_product_detail' faq.ec_product.id %}" class="btn btn-secondary">Cancel</a>
      
        </form>
 
    </div>
</div>
{% endblock %}