{% load static %}
<!doctype html>
<html lang="en">

<head>
    {% block meta %}
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Meta Description -->
    <meta name="description"
        content="Dealna.de is a modern e-commerce platform offering a seamless shopping experience with secure payments, user-friendly navigation, and a wide range of products.">
    <!-- Keywords (Optional) -->
    <meta name="keywords" content="e-commerce, online shopping, Dealna.de, secure payments, modern shopping">
    <!-- Author -->
    <meta name="author" content="Dealna.de Team">
    <!-- Open Graph Meta Tags (for Social Media) -->
    <meta property="og:title" content="Dealna.de - Modern E-Commerce Solution">
    <meta property="og:description"
        content="Dealna.de is a modern e-commerce platform offering a seamless shopping experience with secure payments, user-friendly navigation, and a wide range of products.">
    <meta property="og:image" content="https://Dealna.de/static/images/og_image.png">
    <meta property="og:url" content="https://Dealna.de">
    <!-- Twitter Card Meta Tags (for Twitter) -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Dealna.de - Modern E-Commerce Solution">
    <meta name="twitter:description"
        content="Dealna.de is a modern e-commerce platform offering a seamless shopping experience with secure payments, user-friendly navigation, and a wide range of products.">
    <meta name="twitter:image" content="https://Dealna.de/static/images/twitter_image.png">

    {% endblock %}

    {% block extra_meta %}
    {% endblock %}

    {% block corecss %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
        integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">

    <!-- FAQ SECTION Flush/ .accordion-flush Bootstrab Css requirments , https://getbootstrap.com/docs/5.3/components/accordion/ -->







    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    <title>E-Commerce Dealna.de {% block extra_title %}{% endblock %}</title>

    <!-- FAVICONS -->
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="96x96" href="{% static 'favicon/favicon-96x96.png' %}">
    <link rel="shortcut icon" href="{% static 'favicon/favicon.ico' %}">

    <!-- Apple Touch Icons -->
    <link rel="apple-touch-icon" sizes="57x57" href="{% static 'favicon/apple-touch-icon-57x57.png' %}">
    <link rel="apple-touch-icon" sizes="60x60" href="{% static 'favicon/apple-touch-icon-60x60.png' %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'favicon/apple-touch-icon-72x72.png' %}">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'favicon/apple-touch-icon-76x76.png' %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'favicon/apple-touch-icon-114x114.png' %}">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static 'favicon/apple-touch-icon-120x120.png' %}">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static 'favicon/apple-touch-icon-144x144.png' %}">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static 'favicon/apple-touch-icon-152x152.png' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/apple-touch-icon-180x180.png' %}">

    <!-- Microsoft Tiles -->
    <meta name="msapplication-TileColor" content="#000000">
    <meta name="msapplication-TileImage" content="{% static 'favicon/mstile-150x150.png' %}">
</head>

<body>
    <header class="container-fluid fixed-top">
        <div id="topnav" class="row bg-white pt-lg-2 d-none d-lg-flex">
            <div class="col-12 col-lg-4 my-auto py-1 py-lg-0 text-center text-lg-left">
                <a href="{% url 'ec_home' %}" class="nav-link main-logo-link">
                    <h2 class="logo-font text-black my-0"><strong>Dealna.de</strong> For E-Commerce </h2>
                </a>
            </div>


            <div class="col-12 col-lg-4 my-auto py-1 py-lg-0">
                <form method="GET" action="{% url 'ec_products' %}">
                    <div class="input-group w-100">
                        <input class="form-control border border-black rounded-0" type="text" name="q"
                            placeholder="Search our site" aria-label="Search the site">
                        <div class="input-group-append">
                            <button class="form-control btn btn-black border border-black rounded-0" role="button"
                                type="submit">
                                <span class="icon">
                                    <i class="fas fa-search"></i>
                                </span>
                                <span class="sr-only">Search</span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-12 col-lg-4 my-auto py-1 py-lg-0">
                <ul class="list-inline list-unstyled text-center text-lg-right my-0">
                    <li class="list-inline-item dropdown">
                        <a class="text-black nav-link" href="#" id="user-options-desktop" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            <div class="text-center">
                                <div><i class="fas fa-user fa-lg"></i></div>
                                <p class="my-0">My Account</p>
                            </div>
                        </a>
                        <div class="dropdown-menu border-0" aria-labelledby="user-options-desktop">

                            {% if request.user.is_authenticated %}
                            {% if request.user.is_superuser %}
                            <a href="{% url 'add_ec_product' %}" class="dropdown-item">Product Management</a>
                            {% endif %}
                            <a href="{% url 'ec_profile' %}" class="dropdown-item">My Profile</a>
                            <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
                            {% else %}
                            <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
                            <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
                            {% endif %}
                        </div>
                    </li>
                    <li class="list-inline-item">
                        <a class="{% if grand_total %}text-info font-weight-bold{% else %}text-black{% endif %} nav-link"
                            href="{% url 'view_ec_bag' %}">
                            <div class="text-center">
                                <div><i class="fas fa-shopping-bag fa-lg"></i></div>
                                <p class="my-0">
                                    {% if grand_total %}
                                    ${{ grand_total|floatformat:2 }}
                                    {% else %}
                                    $0.00
                                    {% endif %}
                                </p>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row bg-white">
            <nav class="navbar navbar-expand-lg navbar-light w-100">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-nav"
                    aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                {% include 'includes/mobile-top-header.html' %}
                {% include 'includes/main-nav.html' %}
            </nav>
        </div>
        <div id="delivery-banner" class="row text-center">
            <div class="col bg-black text-white">
                <h3 class="logo-font my-1">Free delivery on orders over ${{ free_delivery_threshold }}!</h3>
            </div>
        </div>
    </header>

    {% if messages %}
    <div class="message-container">
        {% for message in messages %}
        {% with message.level as level %}
        {% if level == 40 %}
        {% include 'includes/toasts/toast_error.html' %}
        {% elif level == 30 %}
        {% include 'includes/toasts/toast_warning.html' %}
        {% elif level == 25 %}
        {% include 'includes/toasts/toast_success.html' %}
        {% else %}
        {% include 'includes/toasts/toast_info.html' %}
        {% endif %}
        {% endwith %}
        {% endfor %}
    </div>
    {% endif %}

    {% block page_header %}
    {% endblock %}

    {% block content %}
    {% endblock %}











    <!-- ------------------------- Footer Section ------------------------- -->
    <footer class="footer bg-dark text-light mt-5 pt-5 pb-3">
        <div class="container">

            <div class="row">

                <!-- About Dealna -->
                <div class="col-md-4 mb-4">
                    <h5 class="text-warning text-uppercase mb-3">About Dealna</h5>
                    <p>
                        Dealna.de is your go-to platform for the latest deals, tech insights, and e-commerce solutions.
                        We aim to bring quality, affordability, and convenience to our users. Our team is dedicated to
                        providing top-notch service and cutting-edge digital experiences.
                    </p>
                </div>

                <!-- Quick Links -->
                <div class="col-md-4 mb-4">
                    <h5 class="text-warning text-uppercase mb-3">Quick Links</h5>
                    <ul class="list-unstyled">
                        <li><a href="{% url 'ec_home' %}" class="text-light">Home</a></li>
                        <li><a href="{% url 'ec_products' %}" class="text-light">Products</a></li>
                        <li><a href="{% url 'about' %}" class="text-light">About Us</a></li>
                        <li><a href="{% url 'newsletter:newsletter' %}" class="text-light">Newsletter</a></li>
                        <li>
                            <a href="{% url 'impressum' %}" class="text-warning font-weight-bold">
                                Impressum
                            </a>
                        </li>
                        <li><a href="{% url 'contact' %}" class="text-light">Contact</a></li>

                    </ul>
                </div>

                <!-- Social & Contact -->
                <div class="col-md-4 mb-4">
                    <h5 class="text-warning text-uppercase mb-3">Connect with Us</h5>

                    <!-- Social Links -->
                    <div class="mb-3">


                        <!-- Business LinkedIn -->
                        <a href="https://www.linkedin.com/company/un2050-it-kreativ-handel-solutions/" target="_blank"
                            class="text-light mx-2" title="Business LinkedIn">

                            <i class="fa text-warning fa-briefcase " style="font-size: 20px; "></i>
                        </a>

                        <!-- Private LinkedIn -->
                        <a href="https://www.linkedin.com/in/mohamedmesto/" target="_blank" class="text-light mx-2"
                            title="Private LinkedIn">
                            <i class="fab text-warning fa-linkedin fa-lg"></i>
                        </a>

                        <!-- GitHub -->
                        <a href="https://github.com/MohamedMesto" target="_blank" class="text-light mx-2"
                            title="GitHub">
                            <i class="fab text-warning fa-github fa-lg"></i>
                        </a>

                        <!-- Facebook -->
                        <a href="https://www.facebook.com/share/1GDzJ7AiSi/" target="_blank" class="text-light mx-2">
                            <i class="fab text-warning fa-facebook fa-lg"></i>
                        </a>

                        <!-- YouTube -->
                        <a href="https://www.youtube.com/c/TippsausEuropa" target="_blank" class="text-light mx-2"
                            title="YouTube">
                            <i class="fab text-warning fa-youtube fa-lg"></i>
                        </a>

                        <!-- Instagram -->
                        <a href="https://www.instagram.com/muingmo?igsh=cTZ2ODRhdGVqbjdu" target="_blank"
                            class="text-light mx-2" title="Instagram">
                            <i class="fab text-warning fa-instagram fa-lg"></i>
                        </a>

                        <!-- Telegram -->
                        <a href="https://t.me/IngMoMst" target="_blank" class="text-light mx-2" title="Telegram">
                            <i class="fab text-warning fa-telegram fa-lg"></i>
                        </a>
                    </div>
                    <!-- Contact Info -->
                    <div class="mb-2 ">
                        <p class="mb-1"><i class="fas text-warning fa-map-marker-alt"></i> Charlottenburg-Nord, Berlin,
                            Germany, EU
                        </p>
                        <p class="mb-1"><i class="fas text-warning fa-envelope"></i> service@un2050.de</p>
                        <p class="mb-1"><i class="fas text-warning fa-phone"></i> +49 157 178 78 521</p>
                    </div>

                    <!-- Händlerbund Badge (like un2050.de) -->
                    <div class="row  mt-4">
                        <div class="col-auto text-center">
                            <a href="https://logo.haendlerbund.de/show.php?uuid=ea7bf7e1-5e26-11ef-a43e-0242ac130003-3112389951"
                                target="_blank" rel="noopener">
                                <img loading="lazy" decoding="async" src="https://un2050.de/assets/hb/hb_member.png"
                                    alt="Händlerbund Mitglied" width="200" height="150"
                                    class="img-fluid rounded-border">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Copyright -->
            <div class="text-center  border-top pt-3 small">
                &copy; {% now "Y" %} <a href="https://un2050.de/ " target="_blank" class="text-light mx-2"><i
                        class=" text-danger font-weight-bold"> Un2050 IT Kreativ & Handel Solutions</i>
                </a> | All rights reserved.
            </div>
        </div>
    </footer>




    <!-- Back to Top Button -->
    <button id="backToTopBtn" title="Go to top">&#8679;</button>



    <!-- JS: placed just before closing body tag for faster page load -->

    {% block corejs %}
    <!-- FontAwesome -->
    <script src="https://kit.fontawesome.com/895cc74687.js" crossorigin="anonymous"></script>

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"
        integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>

    <!-- Popper -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>

    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>

    <!-- FAQs -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script> -->


    <!-- Stripe -->
    <script src="https://js.stripe.com/v3/"></script>
    {% endblock %}

    {% block extra_js %}
    {% endblock %}

    <!-- Project JS -->
    <script src="{% static 'js/backtotop.js' %}"></script>
    <script src="{% static 'js/navigation.js' %}"></script>

    {% block postloadjs %}
    <script>
        $('.toast').toast('show');
    </script>
    {% endblock %}



</body>

</html>